<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
<title>::::</title>

<link rel="stylesheet" type="text/css" media="all" href="css/bootstrap.css">
<link rel="stylesheet" type="text/css" media="all" href="css/bootstrap-responsive.css">
<link rel="stylesheet" type="text/css" media="all" href="css/custom.css">



<!--[if IE]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	  <link href="stylesheets/ie8.css" rel="stylesheet">
   <![endif]-->
</head>


<body>


<table width="96%" border="0" cellspacing="0" cellpadding="7" align="center">
  <tr style="border-bottom:solid 1px #d2d2d2;">
    <td width="48%"><img src="images/logo.png" /></td>
    <td width="52%" style="font:normal 18px Verdana, Helvetica, sans-serif; color:#444; text-align:right;">New Registration</td>
  </tr>
  <tr>
    <td colspan="2" style="font:normal 14px Verdana, Geneva, sans-serif; color:#444;">Thanks for joining Beatbucks!<br /> To finish your registration, there is one more quick step:	</td>
  </tr>
  
  <tr>
    <td colspan="2"><a href="#" style="font:normal 14px Arial, Helvetica, sans-serif; color:#0088CC;">https://www.beatbucks.com/blablabla</a></td>
  </tr>
  <tr>
    <td colspan="2" style="font:normal 14px Verdana, Geneva, sans-serif; color:#444;">Once verified, you'll be all set to start using Beatbucks.</td>
  </tr>
  <tr>
    <td colspan="2" style="font:normal 14px Verdana, Geneva, sans-serif; color:#444;">Sincerely,<br />Beatbucks Team <br /><a href="#" style="font:normal 14px Arial, Helvetica, sans-serif; color:#0088CC;">www.beatbucks.com</a></td>
  </tr>
  <tr>
    <td colspan="2">
    	<table width="100%" border="0" cellspacing="0" cellpadding="7" style="border-top:dashed 1px #d2d2d2;">
          <tr>
            <td width="31%"><a href="#" style="font:normal 11px Verdana, Helvetica, sans-serif; color:#c9c9c9; text-decoration:underline; border-right:dolid 1px #c9c9c9; padding:0 10px 0 0;">Help</a> <a href="#" style="font:normal 11px Verdana, Helvetica, sans-serif; color:#c9c9c9; text-decoration:underline; padding:0 0 0 10px;">Contact us</a></td>
            <td width="27%" style="font:normal 11px Verdana, Helvetica, sans-serif; text-align:center; color:#c9c9c9;">Please do not reply to this email.</td>
            <td width="42%" align="right"><img src="images/ff.png" /> <img src="images/gg.png" /> <img src="images/yy.png" /></td>
          </tr>
        </table>

    </td>
  </tr>
</table>


<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" language="javascript" charset="utf-8" src="js/jquery.min.js"></script>
</body>

</html>
