<h1>Producers#showprofile</h1>
<p>Find me in app/views/producers/showprofile.html.erb</p>

<%= current_user.Firstname %>
<%= current_user.Lastname %>
<%= current_user.email %>
<%= current_user.Country %>
 
<%#= producer_profile.HomeTown%>