.alert {
  padding: 5px ;
  margin-bottom: 5px ;
  border: 1px solid transparent;
  border-radius: 5px;
  width: 500px !important;
  height: 38px;
}

.alert .close {
    line-height: 20px;
    position: relative;
    right: 5px;
    top: -2px;
}
 select {
    
    width: 265px;
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    
    height: 30px;
  
    width: 265px;
}

/*.box{ background:#FFFFFF; float:left; border:1px; height: auto; width: 100% }*/

.btn-custom {
  background-color: hsl(145, 62%, 68%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cdf3dd", endColorstr="#7adfa4");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#cdf3dd), to(#7adfa4));
  background-image: -moz-linear-gradient(top, #cdf3dd, #7adfa4);
  background-image: -ms-linear-gradient(top, #cdf3dd, #7adfa4);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cdf3dd), color-stop(100%, #7adfa4));
  background-image: -webkit-linear-gradient(top, #cdf3dd, #7adfa4);
  background-image: -o-linear-gradient(top, #cdf3dd, #7adfa4);
  background-image: linear-gradient(#cdf3dd, #7adfa4);
  border-color: #7adfa4 #7adfa4 hsl(145, 62%, 63%);
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.33);
  -webkit-font-smoothing: antialiased;
  width: 170px;
  height: 50px;
  text-align: center;
  margin-top: 5%;
}

#box1{margin-top: 1%; margin-bottom: 1%;}
.box3{height: 500px; margin:1% 5%;}

.span1 {
    width: 73px;
}
.span2{width: 160px;}

#selection_box{width:200px; height: 200px; border: 1px;}

td, th {
    padding: 14px;
}
button.btn.btn-large, input.btn.btn-large[type="submit"] {
    width: 190px;
}